AIBloggerWorkflow.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -5056,
        576
      ],
      "id": "9f418a61-155a-48b1-8f33-d01c88e7dc44",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        -4768,
        576
      ],
      "id": "e238af0f-1745-4a02-98b8-08b756e178ae",
      "name": "Global Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "",
          "name": "Workflow Constants"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.constants.GoogleSheet2 }}",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STATUS",
              "lookupValue": "FAIR GAME"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4544,
        576
      ],
      "id": "83ac9a6e-de46-48d6-8f4f-1d28c8463fcf",
      "name": "Get ETFs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const etfs = $input.all().map(item => {\n  return `### ${item.json.ETF} ###\\n${item.json.BIO}\\n`;\n});\n\nreturn [{\n  json: {\n    etfContext: etfs.join('\\n---\\n'),\n    etfList: $input.all().map(i => i.json.ETF)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4352,
        576
      ],
      "id": "7606d12c-23d7-4449-8b40-ccfca24043f8",
      "name": "Aggregate ETF Bios"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Global Constants').first().json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Constants').first().json.constants.GoogleSheet1 }}",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STATUS",
              "lookupValue": "FAIR GAME"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4160,
        576
      ],
      "id": "a0b123cc-5b6d-4c9d-ac6c-4b3058b9eeca",
      "name": "Get Keywords",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\nlet result = '';\nlet length = 48;\n\nfor (let i = 0; i < length; i++) {\n  result += characters.charAt(Math.floor(Math.random() * characters.length));\n}\n\nreturn [{\n  json: {\n    ...($input.first().json),\n    randomString: result\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3744,
        672
      ],
      "id": "3639f9b3-c8a3-4d53-bdea-5e59e2b74ead",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Loop Over Items').item.json.KEYWORD }}\n\n{{ $('Aggregate ETF Bios').item.json.etfContext }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an investment research analyst specializing in ETF and mutual fund relevance assessment. Your task is to determine how relevant a given keyword (a trending investing topic) is to each of a set of ETF/fund profiles.\n\n## Your process\n\n1. **Research the keyword**: Use Brave Search to understand the keyword's current market context. Search for recent news, developments, and investor sentiment around this keyword. Run 2-4 searches to build a well-rounded picture.\n\n2. **Cross-reference against each fund**: For each of the 8 funds provided, determine whether and how the keyword connects to that fund's strategy, holdings, thesis, or target investor. Consider:\n   - Does the keyword directly affect the fund's holdings or sector exposure?\n   - Does the keyword relate to the fund's core investment thesis?\n   - Would an investor in this fund care about this keyword?\n   - Does the keyword create a tailwind, headwind, or have no meaningful impact?\n\n3. **Make a YES/NO determination and explain if YES**: For each fund, decide:\n   - **YES** — The keyword has a meaningful, specific connection to this fund. Follow with 1-3 sentences explaining the connection. Reference the fund's actual strategy, holdings, or characteristics from the bio provided.\n   - **NO** — The keyword has no meaningful or direct connection to this fund. No further explanation needed.\n\n## YES vs NO calibration\n\nA keyword is YES only when there is a SPECIFIC, ARTICULABLE connection — not a vague \"this affects markets generally\" link. Apply this test: could a content writer produce a compelling paragraph connecting this keyword to this fund's unique strategy or holdings? If the answer is no, the relevance is NO.\n\nExamples of YES:\n- \"Fed interest rate decision\" → BND: \"YES — BND's portfolio of 11,000+ bonds with an average duration of ~6 years makes it directly sensitive to Fed rate changes. Rate cuts would drive bond prices higher, benefiting BND holders, while rate hikes would pressure NAV downward.\"\n- \"Nvidia stock AI chips\" → MPLY: \"YES — Nvidia holds a monopolistic position in the GPU/AI accelerator market with over 80% market share, making it a textbook MPLY holding. Any news about Nvidia's dominance or competitive moat directly reinforces MPLY's core thesis.\"\n\nExamples of NO:\n- \"GLP-1 weight loss stocks\" → GOLY: \"NO\"\n- \"Tesla earnings stock price\" → BND: \"NO\"\n- \"Gold price all time high\" → ARKK: \"NO\"\n\n## Quality standards\n\n- ALWAYS search before scoring. Do not rely solely on the fund bios — the keyword's current context matters.\n- Be specific in YES explanations. Reference the fund's actual strategy, holdings, or characteristics.\n- Err toward NO rather than stretching weak connections. A downstream AI agent will use these descriptions to decide whether to write content — false positives waste resources.\n- Each YES explanation should be self-contained and digestible by another AI agent without additional context."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -3536,
        672
      ],
      "id": "3e921efe-370b-485c-8ed9-6939e68106d2",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3952,
        576
      ],
      "id": "f0215cd1-fa4f-4222-898c-344005e4edb8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\n    \"keyword_summary\",\n    \"MPLY_relevance\",\n    \"GOLY_relevance\",\n    \"HNDL_relevance\",\n    \"ATRFX_relevance\",\n    \"ARKK_relevance\",\n    \"QQQ_relevance\",\n    \"SCHD_relevance\",\n    \"BND_relevance\"\n  ],\n  \"properties\": {\n    \"keyword_summary\": {\n      \"type\": \"string\",\n      \"description\": \"2-3 sentence summary of the keyword's current market context based on Brave Search findings. This should capture why this keyword is trending and what the key developments are.\"\n    },\n    \"MPLY_relevance\": {\n      \"type\": \"string\",\n      \"description\": \"Must start with 'YES' or 'NO'. If YES, follow with a space and 1-3 sentences explaining the specific connection to MPLY ETF (Strategy Shares Monopoly ETF). If NO, return only the word 'NO' with no further text.\",\n      \"pattern\": \"^(YES .+|NO)$\"\n    },\n    \"GOLY_relevance\": {\n      \"type\": \"string\",\n      \"description\": \"Must start with 'YES' or 'NO'. If YES, follow with a space and 1-3 sentences explaining the specific connection to GOLY ETF (Strategy Shares Gold Enhanced Yield ETF). If NO, return only the word 'NO' with no further text.\",\n      \"pattern\": \"^(YES .+|NO)$\"\n    },\n    \"HNDL_relevance\": {\n      \"type\": \"string\",\n      \"description\": \"Must start with 'YES' or 'NO'. If YES, follow with a space and 1-3 sentences explaining the specific connection to HNDL ETF (Strategy Shares Nasdaq 7HANDL Index ETF). If NO, return only the word 'NO' with no further text.\",\n      \"pattern\": \"^(YES .+|NO)$\"\n    },\n    \"ATRFX_relevance\": {\n      \"type\": \"string\",\n      \"description\": \"Must start with 'YES' or 'NO'. If YES, follow with a space and 1-3 sentences explaining the specific connection to ATRFX mutual fund (Catalyst Systematic Alpha Fund). If NO, return only the word 'NO' with no further text.\",\n      \"pattern\": \"^(YES .+|NO)$\"\n    },\n    \"ARKK_relevance\": {\n      \"type\": \"string\",\n      \"description\": \"Must start with 'YES' or 'NO'. If YES, follow with a space and 1-3 sentences explaining the specific connection to ARKK ETF (ARK Innovation ETF). If NO, return only the word 'NO' with no further text.\",\n      \"pattern\": \"^(YES .+|NO)$\"\n    },\n    \"QQQ_relevance\": {\n      \"type\": \"string\",\n      \"description\": \"Must start with 'YES' or 'NO'. If YES, follow with a space and 1-3 sentences explaining the specific connection to QQQ ETF (Invesco QQQ Trust / Nasdaq-100). If NO, return only the word 'NO' with no further text.\",\n      \"pattern\": \"^(YES .+|NO)$\"\n    },\n    \"SCHD_relevance\": {\n      \"type\": \"string\",\n      \"description\": \"Must start with 'YES' or 'NO'. If YES, follow with a space and 1-3 sentences explaining the specific connection to SCHD ETF (Schwab U.S. Dividend Equity ETF). If NO, return only the word 'NO' with no further text.\",\n      \"pattern\": \"^(YES .+|NO)$\"\n    },\n    \"BND_relevance\": {\n      \"type\": \"string\",\n      \"description\": \"Must start with 'YES' or 'NO'. If YES, follow with a space and 1-3 sentences explaining the specific connection to BND ETF (Vanguard Total Bond Market ETF). If NO, return only the word 'NO' with no further text.\",\n      \"pattern\": \"^(YES .+|NO)$\"\n    }\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3520,
        800
      ],
      "id": "cd1c8221-93bb-4def-8a2a-7a96469cae12",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3344,
        800
      ],
      "id": "5b5db685-ce05-495b-aa0e-332f5a2f3777",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {
          "maxTokensToSample": 14096,
          "thinking": true,
          "thinkingBudget": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -3536,
        544
      ],
      "id": "82bc178c-7477-4630-863a-f07c945b297a",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "",
          "name": "Anthropic Account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.randomString }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -3328,
        528
      ],
      "id": "a937949e-85ce-4473-a249-92cebb9d369d",
      "name": "Redis Chat Memory2",
      "credentials": {
        "redis": {
          "id": "",
          "name": "Redis Account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "maxTokens": 4096,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -3488,
        416
      ],
      "id": "1137ed1f-40eb-4073-94a9-df885d009df1",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "",
          "name": "Mistral Cloud Account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to research the current market context of the keyword being evaluated. You should run 2-4 searches per keyword to build a complete picture before scoring relevance.\n\nSearch strategy:\n1. First search: the keyword itself to get the latest news and developments (e.g. \"gold price all time high\")\n2. Second search: the keyword combined with \"investing\" or \"stock market\" to get investor-specific context (e.g. \"gold price impact on investors 2026\")\n3. Optional third search: the keyword combined with a specific fund or sector if a connection seems likely but needs verification (e.g. \"gold price ETF bond performance\")\n4. Optional fourth search: a related angle discovered during earlier searches that could affect relevance scoring\n\nKeep search queries short and specific — 2-6 words for best results. Do not use quotes, site operators, or Boolean operators in queries. Include the current year (2026) when searching for recent developments.\n\nDo NOT search for information about the ETFs/funds themselves — their profiles have already been provided to you. Only search for information about the keyword and its market context.",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "count": 6,
        "additionalParameters": {
          "country": "US",
          "search_lang": "en"
        }
      },
      "type": "@brave/n8n-nodes-brave-search.braveSearchTool",
      "typeVersion": 1,
      "position": [
        -3376,
        400
      ],
      "id": "d44c3709-07e0-46ee-83c4-d33986e6f4f1",
      "name": "Brave Search2",
      "credentials": {
        "braveSearchApi": {
          "id": "",
          "name": "Brave Search Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Global Constants').first().json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Constants').first().json.constants.GoogleSheet1 }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Loop Over Items').item.json.row_number }}",
            "Keyword Summary": "={{ $json.output.keyword_summary }}",
            "MPLY_relevance": "={{ $json.output.MPLY_relevance }}",
            "GOLY_relevance": "={{ $json.output.GOLY_relevance }}",
            "HNDL_relevance": "={{ $json.output.HNDL_relevance }}",
            "ATRFX_relevance": "={{ $json.output.ATRFX_relevance }}",
            "QQQ_relevance": "={{ $json.output.QQQ_relevance }}",
            "ARKK_relevance": "={{ $json.output.ARKK_relevance }}",
            "SCHD_relevance": "={{ $json.output.SCHD_relevance }}",
            "BND_relevance": "={{ $json.output.BND_relevance }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3008,
        784
      ],
      "id": "72122189-7ac7-411b-add2-997921cdd7a8",
      "name": "Update row in sheet1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -5056,
        1280
      ],
      "id": "be439e3a-473b-474d-806d-145587e6cc82",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        -4864,
        1280
      ],
      "id": "c546f8e7-3109-4d90-af95-6fc3adf8f2bb",
      "name": "Global Constants3",
      "credentials": {
        "globalConstantsApi": {
          "id": "",
          "name": "Workflow Constants"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Global Constants3').first().json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Constants3').first().json.constants.GoogleSheet1 }}",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STATUS",
              "lookupValue": "FAIR GAME"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4672,
        1280
      ],
      "id": "d625e59a-5544-4dc5-8a85-c79e1ecf7f16",
      "name": "Get Keywords1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst ids = items.map(item => item.json.ID);\nconst randomId = ids[Math.floor(Math.random() * ids.length)];\nconst selected = items.find(item => item.json.ID === randomId);\n\nreturn [{ json: { ...selected.json, selectedId: randomId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4480,
        1280
      ],
      "id": "dce60c75-2a4f-423b-a7ea-7247ea7e6778",
      "name": "Random KW Selector"
    },
    {
      "parameters": {
        "url": "https://youtube-v2.p.rapidapi.com/search/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "query", "value": "={{ $json.KEYWORD }}"},
            {"name": "lang", "value": "en"},
            {"name": "order_by", "value": "this_month"},
            {"name": "country", "value": "us"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-rapidapi-host", "value": "youtube-v2.p.rapidapi.com"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {"parameters": [{}]},
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4272,
        1280
      ],
      "id": "ff2cab5d-df7c-46a2-b839-7360234da8b0",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "RapidAPI Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const videos = $input.first().json.videos;\n\nreturn videos.map(video => ({\n  json: {\n    ...video,\n    query: $input.first().json.query,\n    estimated_results: $input.first().json.estimated_results\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4064,
        1280
      ],
      "id": "71c3203c-80fe-4bb4-8f57-369d4c5c4126",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3648,
        1280
      ],
      "id": "5c3e2447-55d3-4c13-9246-600277c10d10",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "engine", "value": "youtube_video"},
            {"name": "v", "value": "={{ $json.video_id }}"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3376,
        1376
      ],
      "id": "1ebeae70-a73d-45a2-b925-90e7e79c7c38",
      "name": "HTTP Request2",
      "credentials": {
        "serpApi": {
          "id": "",
          "name": "SerpAPI Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Global Constants3').first().json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Constants3').first().json.constants.GoogleSheet3 }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOTE": "=#{{ $runIndex + 1}} within past month",
            "VIDEO LIKES": "={{ $json.extracted_likes }}",
            "VIDEO VIEWS": "={{ $json.extracted_views }}",
            "CHANNEL NAME": "={{ $json.channel.name }}",
            "SUBSCRIBER COUNT": "={{ $json.channel.extracted_subscribers }}",
            "CHANNEL LINK": "={{ $json.channel.link }}",
            "VIDEOID": "={{ $json.search_parameters.v }}",
            "VIDEO TITLE": "={{ $json.title }}",
            "KW": "={{ $('Loop Over Items2').item.json.query }}",
            "STATUS": "MASTER",
            "PUBDATE": "={{ $('Loop Over Items2').item.json.published_time }}",
            "TYPE": "M"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3168,
        1376
      ],
      "id": "9aeb8bd1-e1a6-4047-8bf5-7752aa3df919",
      "name": "Append row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('HTTP Request2').first().json;\nconst relatedVideos = data.related_videos || [];\n\nreturn relatedVideos.map(video => ({\n  json: {\n    ...video,\n    source_video_id: data.search_parameters.v,\n    source_video_title: data.title\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3376,
        1536
      ],
      "id": "5afd2896-cbd6-4bd1-9d73-a2f88ef36d94",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction parseToMinutes(published) {\n  if (!published) return Infinity;\n\n  let cleaned = published\n    .replace(/^(Premiered|Streamed)\\s+/i, '')\n    .replace(/^New\\s*/i, '')\n    .trim();\n\n  const match = cleaned.match(/^(\\d+)\\s+(second|minute|hour|day|week|month|year)s?\\s+ago$/i);\n\n  if (match) {\n    const value = parseInt(match[1]);\n    const unit = match[2].toLowerCase();\n\n    const multipliers = {\n      second: 1 / 60,\n      minute: 1,\n      hour: 60,\n      day: 1440,\n      week: 10080,\n      month: 43200,\n      year: 525600\n    };\n\n    return value * (multipliers[unit] || Infinity);\n  }\n\n  const dateAttempt = new Date(cleaned);\n  if (!isNaN(dateAttempt.getTime())) {\n    const diffMs = Date.now() - dateAttempt.getTime();\n    return Math.max(0, diffMs / 60000);\n  }\n\n  return Infinity;\n}\n\nconst maxMinutes = 1440;\n\nreturn items\n  .map(item => {\n    const minutesAgo = parseToMinutes(item.json.published_date);\n    return {\n      json: {\n        ...item.json,\n        minutes_ago: Math.round(minutesAgo)\n      }\n    };\n  })\n  .filter(item => item.json.minutes_ago <= maxMinutes);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3168,
        1536
      ],
      "id": "35346105-e7c1-43da-854f-6475e7e5de27",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Global Constants3').first().json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Constants3').first().json.constants.GoogleSheet3 }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOTE": "=RECOMMENDED BY YOUTUBE <1 DAY OLD",
            "VIDEO VIEWS": "={{ $('HTTP Request3').item.json.extracted_views }}",
            "CHANNEL NAME": "={{ $('Code in JavaScript3').item.json.channel.name }}",
            "VIDEOID": "={{ $('Code in JavaScript3').item.json.video_id }}",
            "VIDEO TITLE": "={{ $('HTTP Request3').item.json.title }}",
            "STATUS": "READY",
            "PUBDATE": "={{ $('Code in JavaScript3').item.json.minutes_ago }} minutes ago",
            "VIDEO LIKES": "={{ $('HTTP Request3').item.json.extracted_likes }}",
            "CHANNEL LINK": "={{ $('Code in JavaScript3').item.json.channel.link }}",
            "SUBSCRIBER COUNT": "={{ parseFloat($('HTTP Request7').item.json.subscriber_count) * ($('HTTP Request7').item.json.subscriber_count.includes('M') ? 1e6 : $('HTTP Request7').item.json.subscriber_count.includes('K') ? 1e3 : $('HTTP Request7').item.json.subscriber_count.includes('B') ? 1e9 : 1) }}",
            "TYPE": "R",
            "KW": "={{ $('Random KW Selector').first().json.KEYWORD }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2832,
        1696
      ],
      "id": "eb0bad9a-fc6c-450a-aae3-3d4ecb42f18f",
      "name": "Append row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "engine", "value": "youtube_video"},
            {"name": "v", "value": "={{ $json.video_id }}"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3376,
        1696
      ],
      "id": "a8bf24be-9854-4c06-94d2-25b63b80144e",
      "name": "HTTP Request3",
      "credentials": {
        "serpApi": {
          "id": "",
          "name": "SerpAPI Account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Flow 1 — Keyword-to-ETF Relevance Scoring (only activate when keywords or ETFs are updated)\n",
        "height": 768,
        "width": 2368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-5120, 272],
      "typeVersion": 1,
      "id": "55cc6cd1-1efb-4282-af6d-727ebbb2ffff",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Flow 2 — YouTube Video Discovery",
        "height": 912,
        "width": 2560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-5120, 1088],
      "typeVersion": 1,
      "id": "e7edcc3f-4fb4-4bc4-9b2a-507c3246812b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "=http://YOUR_N8N_HOST:5678/webhook/REPLACE_WITH_WEBHOOK_PATH_1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-3216, 1264],
      "id": "988a08fa-d633-4a22-a70e-8780409f6358",
      "name": "Call Webhook 1",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "# Flow 4 — Virality Score Card & Video Transcriber",
        "height": 464,
        "width": 2564,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-5120, 2032],
      "typeVersion": 1,
      "id": "37291441-cec1-43c8-b98e-237fcfc63330",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Global Constants3').first().json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Constants3').first().json.constants.GoogleSheet1 }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Get Keywords1').first().json.ID }}",
            "LAST ACCESSED": "={{ Math.floor((new Date().setHours(0,0,0,0) - new Date(1899,11,30).getTime()) / 86400000) }}"
          },
          "matchingColumns": ["ID"],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-3376, 1264],
      "id": "a999e8af-b30a-47b8-85a7-9c31600d0620",
      "name": "Update Keywords",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {"id": "", "name": "Google Sheets Account"}
      }
    },
    {
      "parameters": {"maxItems": 3},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [-3856, 1280],
      "id": "f7312fdb-9504-48ad-a337-d3a25c5e7293",
      "name": "Limit1"
    },
    {
      "parameters": {
        "path": "9805810b-b7ac-400f-b897-561fcd2993e3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-4992, 2224],
      "id": "77c482c5-d4f3-480c-ab17-55d60ee406f0",
      "name": "Webhook1",
      "webhookId": "9805810b-b7ac-400f-b897-561fcd2993e3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [-4768, 2224],
      "id": "3a7a2607-af0d-4216-b302-162056bc8b33",
      "name": "Global Constants5",
      "credentials": {
        "globalConstantsApi": {"id": "", "name": "Workflow Constants"}
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Global Constants5').first().json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Constants5').first().json.constants.GoogleSheet3 }}",
          "mode": "name"
        },
        "filtersUI": {
          "values": [{"lookupColumn": "STATUS", "lookupValue": "READY"}]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-4576, 2224],
      "id": "8756b1de-d42f-4cb7-8505-af1f4a73e962",
      "name": "Get YouTube Videos2",
      "credentials": {
        "googleSheetsOAuth2Api": {"id": "", "name": "Google Sheets Account"}
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst VIRALITY_THRESHOLD = 2000;\n\nreturn items.map(item => {\n  const views = parseInt(item.json['VIDEO VIEWS']) || 0;\n  const likes = parseInt(item.json['VIDEO LIKES']) || 0;\n  const subscribers = parseInt(item.json['SUBSCRIBER COUNT']) || 1;\n\n  const minutesMatch = (item.json.PUBDATE || '').match(/^(\\d+)/);\n  const minutesAgo = minutesMatch ? parseInt(minutesMatch[1]) : 1440;\n\n  const viewVelocity = views / Math.max(minutesAgo, 60);\n  const engagementRatio = (likes / Math.max(views, 1)) * 100;\n  const subscriberOutperformance = views / Math.max(subscribers, 1);\n\n  const viralityScore = viewVelocity * (1 + engagementRatio) * (1 + subscriberOutperformance);\n\n  return {\n    json: {\n      ...item.json,\n      virality_score: Math.round(viralityScore * 1000) / 1000,\n      is_viral: viralityScore >= VIRALITY_THRESHOLD ? 'VIRAL' : 'NOT VIRAL'\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4368, 2224],
      "id": "ab7cacd1-98ed-4f96-aa94-c429cce68278",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Global Constants5').first().json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Constants5').first().json.constants.GoogleSheet3 }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "NOTE": "={{ $json.virality_score }}",
            "STATUS": "={{ $json.is_viral }}"
          },
          "matchingColumns": ["row_number"],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-4176, 2224],
      "id": "e35d3ef3-7fb1-48bb-b714-33f6de9ed26b",
      "name": "Update Keywords1",
      "credentials": {
        "googleSheetsOAuth2Api": {"id": "", "name": "Google Sheets Account"}
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Global Constants5').first().json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Constants5').first().json.constants.GoogleSheet3 }}",
          "mode": "name"
        },
        "filtersUI": {
          "values": [{"lookupColumn": "STATUS", "lookupValue": "VIRAL"}]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-3968, 2224],
      "id": "0a1363ed-1e7f-4b93-81b3-4ec7cfec2581",
      "name": "Get YouTube Videos3",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {"id": "", "name": "Google Sheets Account"}
      }
    },
    {
      "parameters": {
        "url": "https://youtube-multi-api.p.rapidapi.com/transcript",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "skipAI", "value": "false"},
            {"name": "lang", "value": "en"},
            {"name": "useDeepSeek", "value": "true"},
            {"name": "url", "value": "=https://youtube.com/watch?v={{ $json.VIDEOID }}"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "x-rapidapi-host", "value": "youtube-multi-api.p.rapidapi.com"}]
        },
        "sendBody": true,
        "bodyParameters": {"parameters": [{}]},
        "options": {
          "batching": {"batch": {"batchSize": 1, "batchInterval": 10000}}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-3760, 2224],
      "id": "edba225c-82da-4985-a3e7-2599082b31ee",
      "name": "HTTP Request8",
      "credentials": {
        "httpHeaderAuth": {"id": "", "name": "RapidAPI Header Auth"}
      }
    },
    {
      "parameters": {"amount": 30},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-3552, 2224],
      "id": "8b7d92b6-52f1-4a78-9f09-3f83a7e142dd",
      "name": "Wait2",
      "webhookId": "b5373e6d-f55d-4a8a-9501-8965895a15bf"
    },
    {
      "parameters": {
        "url": "=https://youtube-multi-api.p.rapidapi.com{{ $json.resultEndpoint }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {"parameters": []},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "x-rapidapi-host", "value": "youtube-multi-api.p.rapidapi.com"}]
        },
        "sendBody": true,
        "bodyParameters": {"parameters": [{}]},
        "options": {
          "batching": {"batch": {"batchSize": 1, "batchInterval": 10000}}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-3344, 2224],
      "id": "2016d067-bb28-466f-b188-d724360fdc05",
      "name": "HTTP Request9",
      "credentials": {
        "httpHeaderAuth": {"id": "", "name": "RapidAPI Header Auth (alt)"}
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Global Constants5').first().json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Constants5').first().json.constants.GoogleSheet3 }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get YouTube Videos3').item.json.row_number }}",
            "STATUS": "=WAITING",
            "TRANSCRIPT": "={{ $json.transcript }}"
          },
          "matchingColumns": ["row_number"],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-2928, 2240],
      "id": "52c4bf9e-8870-4f5e-8571-d3310ac680b8",
      "name": "Update Keywords2",
      "credentials": {
        "googleSheetsOAuth2Api": {"id": "", "name": "Google Sheets Account"}
      }
    },
    {
      "parameters": {
        "url": "=http://YOUR_N8N_HOST:5678/webhook/REPLACE_WITH_WEBHOOK_PATH_2",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-2720, 2240],
      "id": "396c5581-a102-4b24-b9db-602ae8b4153d",
      "name": "Call Webhook 2",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "# Flow 5 — Best From The Batch",
        "height": 544,
        "width": 2560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-5120, 2528],
      "typeVersion": 1,
      "id": "b1661faa-b258-4327-9163-47aa907622b2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "path": "fb66946f-6d80-449a-a6d6-cbdd6ad5882c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-4752, 2704],
      "id": "5c809d45-fdfa-4472-8486-f0246f417b58",
      "name": "Webhook2",
      "webhookId": "fb66946f-6d80-449a-a6d6-cbdd6ad5882c"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [-4512, 2704],
      "id": "4446e554-6aac-4bc8-9240-6f11f757ff72",
      "name": "Global Constants6",
      "credentials": {
        "globalConstantsApi": {"id": "", "name": "Workflow Constants"}
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Global Constants6').first().json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Constants6').first().json.constants.GoogleSheet3 }}",
          "mode": "name"
        },
        "filtersUI": {
          "values": [{"lookupColumn": "STATUS", "lookupValue": "WAITING"}]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-4320, 2704],
      "id": "f899e849-e117-489e-a356-6317d9d3fdea",
      "name": "Get YouTube Videos4",
      "credentials": {
        "googleSheetsOAuth2Api": {"id": "", "name": "Google Sheets Account"}
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst candidates = items.map((item, index) => ({\n  index: index + 1,\n  row_number: item.json.row_number,\n  video_id: item.json.VIDEOID,\n  title: item.json['VIDEO TITLE'],\n  channel: item.json['CHANNEL NAME'],\n  subscribers: item.json['SUBSCRIBER COUNT'],\n  views: item.json['VIDEO VIEWS'],\n  likes: item.json['VIDEO LIKES'],\n  pubdate: item.json.PUBDATE,\n  virality_score: item.json.NOTE,\n  transcript_preview: (item.json.TRANSCRIPT || '').substring(0, 1500),\n  transcript_word_count: (item.json.TRANSCRIPT || '').split(/\\s+/).length\n}));\n\nreturn [{\n  json: {\n    candidate_count: candidates.length,\n    candidates: candidates,\n    candidates_formatted: candidates.map(c =>\n      `### Candidate #${c.index} ###\\n` +\n      `Title: ${c.title}\\n` +\n      `Channel: ${c.channel} (${c.subscribers} subscribers)\\n` +\n      `Views: ${c.views} | Likes: ${c.likes} | Published: ${c.pubdate}\\n` +\n      `Virality Score: ${c.virality_score}\\n` +\n      `Transcript Preview (first 1500 chars):\\n${c.transcript_preview}\\n`\n    ).join('\\n---\\n\\n'),\n    original_items: items.map(i => i.json)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4128, 2704],
      "id": "b30869ad-dffb-49c9-af7b-1e6e4b44fef0",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here are {{ $json.candidate_count }} candidate videos to evaluate:\n\n{{ $json.candidates_formatted }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a senior editorial strategist for a financial investment blog. Your task is to evaluate a set of candidate YouTube videos and select exactly ONE to serve as the basis for a blog article.\n\n## Your evaluation criteria (in priority order)\n\n1. **Timeliness & urgency** — Does this video cover something happening RIGHT NOW that investors need to know about? Breaking developments, market-moving events, and time-sensitive analysis rank highest. A video about today's market action beats a video about general investing principles.\n\n2. **Article potential** — Could the transcript be transformed into a compelling, standalone blog article? Look for: a clear thesis or argument, specific data points or claims that can be fact-checked and expanded, and a narrative arc that a writer can reshape. Rambling market recaps with no central thesis score low. Focused analysis of a specific trend or event scores high.\n\n3. **Audience engagement signal** — Use the virality score, view count, and like-to-view ratio as signals of what the investing public cares about right now. Higher virality means the topic is resonating.\n\n4. **Originality of angle** — Does the video present a perspective, thesis, or insight that isn't just a rehash of mainstream financial news? Contrarian takes, deep dives into specific mechanisms, and \"here's what everyone is missing\" framings make better articles than generic market summaries.\n\n5. **Breadth of relevance** — Will this topic matter to a wide investing audience (retirement savers, ETF investors, income seekers) or only to a narrow niche (day traders, options specialists, crypto maximalists)? Prefer broad appeal.\n\n## What makes a BAD pick\n\n- Pure technical analysis chart-reading with no fundamental thesis\n- Geopolitical news coverage with no investing angle (war updates without portfolio implications)\n- Clickbait titles with thin content in the transcript\n- Sponsored content or videos that are primarily product promotions\n- Topics too narrow for a general investing audience\n\n## What makes a GOOD pick\n\n- A clear, defensible investing thesis backed by data\n- Coverage of a macro trend with specific portfolio implications\n- Analysis that connects current events to actionable investing insights\n- Content that educates while informing — the reader should learn something\n- A topic that naturally connects to ETFs, portfolio strategy, or asset allocation\n\n## Output requirements\n\nSelect exactly ONE winner. For each candidate, provide a brief assessment explaining why it was or wasn't selected. Be decisive — do not hedge or suggest \"either could work.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-3920, 2704],
      "id": "b03a4401-102f-4d0b-849a-72da53cdd97e",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"winner_index\", \"winner_reasoning\", \"assessments\"],\n  \"properties\": {\n    \"winner_index\": {\n      \"type\": \"integer\",\n      \"description\": \"The candidate number (1-indexed) of the selected video.\",\n      \"minimum\": 1\n    },\n    \"winner_reasoning\": {\n      \"type\": \"string\",\n      \"description\": \"2-4 sentences explaining why this candidate was selected over the others.\"\n    },\n    \"assessments\": {\n      \"type\": \"array\",\n      \"description\": \"One assessment per candidate, in the same order as the input.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"required\": [\"candidate_index\", \"verdict\", \"reasoning\"],\n        \"properties\": {\n          \"candidate_index\": {\"type\": \"integer\"},\n          \"verdict\": {\"type\": \"string\", \"enum\": [\"SELECTED\", \"REJECTED\"]},\n          \"reasoning\": {\"type\": \"string\"}\n        }\n      }\n    }\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-3856, 2592],
      "id": "7ea34ac7-f681-496a-a424-f8994dc7a960",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [-3872, 2592],
      "id": "243336be-0482-4f7b-98f8-5d5e85c2cf0a",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {"id": "", "name": "Mistral Cloud Account"}
      }
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {"maxTokens": 2048, "temperature": 0.3}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [-3920, 2880],
      "id": "8cf0b51d-90e1-41d3-bb47-61ac2f87612f",
      "name": "Mistral Cloud Chat Model2",
      "credentials": {
        "mistralCloudApi": {"id": "", "name": "Mistral Cloud Account"}
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $('AI Agent3').first().json.output;\nconst originalItems = $('Code in JavaScript5').first().json.original_items;\nconst assessments = output.assessments;\n\nreturn originalItems.map((item, index) => {\n  const assessment = assessments.find(a => a.candidate_index === index + 1);\n\n  return {\n    json: {\n      ...item,\n      verdict: assessment ? assessment.verdict : 'REJECTED',\n      verdict_reasoning: assessment ? assessment.reasoning : '',\n      winner_reasoning: assessment && assessment.verdict === 'SELECTED' ? output.winner_reasoning : ''\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3504, 2704],
      "id": "6588683f-f687-41b6-9f93-4399f660e6ca",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Global Constants6').first().json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Constants6').first().json.constants.GoogleSheet3 }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "STATUS": "={{ $json.verdict }}",
            "VERDICT REASONING": "={{ $json.verdict_reasoning }}",
            "WINNER REASONING": "={{ $json.winner_reasoning }}"
          },
          "matchingColumns": ["row_number"],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-3312, 2704],
      "id": "d8519e44-7530-4766-b395-94eb5d24aa6c",
      "name": "Update Keywords3",
      "credentials": {
        "googleSheetsOAuth2Api": {"id": "", "name": "Google Sheets Account"}
      }
    },
    {
      "parameters": {
        "url": "=http://YOUR_N8N_HOST:5678/webhook/REPLACE_WITH_WEBHOOK_PATH_3",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-3040, 2704],
      "id": "9212803c-ed06-4d7d-bade-5c7b7c68f5eb",
      "name": "Call Webhook 3",
      "executeOnce": true
    },
    {
      "parameters": {
        "path": "b6e7d017-6811-4023-94de-775df09903a6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-5056, 3216],
      "id": "0cfbd086-e8ab-422b-9aea-a922a7aa5ec4",
      "name": "Webhook3",
      "webhookId": "b6e7d017-6811-4023-94de-775df09903a6"
    },
    {
      "parameters": {
        "content": "# Flow 6 — Source Discovery",
        "height": 960,
        "width": 2560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-5120, 3104],
      "typeVersion": 1,
      "id": "62eef791-78e7-4483-af9c-b2639731ec84",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsCode": "const video = $('Google Sheets - Get SELECTED Video').first().json;\nconst kwRow = $('Google Sheets - Get KW Row').first().json;\n\nconst relevanceFields = [\n  'MPLY_relevance', 'GOLY_relevance', 'HNDL_relevance', 'ATRFX_relevance',\n  'ARKK_relevance', 'QQQ_relevance', 'SCHD_relevance', 'BND_relevance'\n];\n\nconst relevant = [];\nconst notRelevant = [];\n\nfor (const field of relevanceFields) {\n  const ticker = field.replace('_relevance', '');\n  const value = kwRow[field] || '';\n\n  if (value.startsWith('YES')) {\n    relevant.push(`- ${ticker}: ${value.substring(4).trim()}`);\n  } else {\n    notRelevant.push(ticker);\n  }\n}\n\nconst etfBriefing = relevant.length > 0\n  ? `Relevant funds (mention naturally when content aligns):\\n${relevant.join('\\n')}\\n\\nNot relevant (do NOT mention unless the article specifically discusses them as negative examples):\\n${notRelevant.join(', ')}`\n  : `No funds are directly relevant to this keyword. Do not force ETF mentions.`;\n\nconst transcriptPreview = (video.TRANSCRIPT || '').substring(0, 3000);\n\nreturn [{\n  json: {\n    videoTitle: video['VIDEO TITLE'],\n    videoId: video.VIDEOID,\n    channelName: video['CHANNEL NAME'],\n    keyword: kwRow.KEYWORD,\n    keywordSummary: kwRow['Keyword Summary'] || '',\n    transcriptPreview,\n    fullTranscript: video.TRANSCRIPT || '',\n    etfBriefing,\n    relevantFunds: relevant,\n    notRelevantFunds: notRelevant,\n    videoUrl: `https://www.youtube.com/watch?v=${video.VIDEOID}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4960, 3632],
      "id": "5102fb84-977b-43f1-a12a-343e3c4e6231",
      "name": "Build Search Brief"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### Video to research ###\nTitle: {{ $json.videoTitle }}\nChannel: {{ $json.channelName }}\nKeyword: {{ $json.keyword }}\nKeyword context: {{ $json.keywordSummary }}\n\n### Transcript preview (first 3000 chars) ###\n{{ $json.transcriptPreview }}\n\n### ETF context ###\n{{ $json.etfBriefing }}\n\nFind 5-8 high-quality supplementary sources that would enrich a blog article based on this video's topic.",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are a research assistant for a financial blog. Your job is to find 5-8 high-quality supplementary sources that a blog writer can use to enrich an article based on a YouTube video transcript.\n\n## What you're looking for\n\nThe blog writer needs sources that provide:\n1. **Hard data** — specific statistics, charts, or numbers that back up or challenge claims made in the video\n2. **Opposing viewpoints** — the blog thrives on presenting multiple sides. If the video is bullish, find a credible bearish source. If it's doom-and-gloom, find someone making the counter-case.\n3. **Deep dives on specific claims** — if the video mentions a stat or event in passing, find the primary source or a detailed analysis of it\n4. **ETF/fund-specific context** — if any of the ETFs listed in the ETF context section are relevant, find recent performance data, holdings updates, or analyst commentary on those specific funds\n5. **Historical parallels** — if the video draws comparisons to past events (2008, 1970s stagflation, dot-com), find sources that actually analyze those parallels with data\n\n## What you're NOT looking for\n\n- Generic explainer articles\n- Anything older than 6 months unless it's a seminal piece being referenced\n- Social media posts, Reddit threads, or anonymous blog posts\n- Duplicate coverage of the same story from different outlets (pick the best one)\n- Anything behind a hard paywall that Jina Reader won't be able to fetch\n\n## Search strategy\n\nRun 4-6 searches. Be strategic:\n1. First search: the core topic + recent data\n2. Second search: a specific claim from the transcript that needs verification\n3. Third search: an opposing or contrarian angle\n4. Fourth search: any relevant ETF or fund mentioned in the ETF context\n5. Optional fifth/sixth: follow threads from earlier results\n\n## Source quality hierarchy\n\nTier 1 (prioritize): Bloomberg, Reuters, WSJ, FT, Fed/OECD/IMF publications, SEC filings, company earnings transcripts\nTier 2 (good): Morningstar, Seeking Alpha, CNBC, Barron's, established research firms\nTier 3 (use sparingly): Motley Fool, Investopedia, Yahoo Finance — only if they contain specific data not found elsewhere\n\n## Output requirements\n\nFor each source, provide:\n- The exact URL\n- A 1-2 sentence explanation of what specific data or perspective this source adds\n- A relevance tag: \"data\", \"opposing_view\", \"etf_context\", \"historical_parallel\", or \"deep_dive\"\n\nReturn exactly 5-8 sources. Quality over quantity.",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-4688, 3632],
      "id": "3231a747-95c2-4b37-b451-750f453fb7e3",
      "name": "Source Discovery Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {"maxTokens": 12000, "temperature": 0.3, "safeMode": false}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [-4688, 3504],
      "id": "89ce7475-2ab8-4e43-a4df-5c8d191651ac",
      "name": "Mistral (Source Discovery)",
      "credentials": {
        "mistralCloudApi": {"id": "", "name": "Mistral Cloud Account"}
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {"maxTokensToSample": 8192, "temperature": 0.3}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [-4528, 3456],
      "id": "c9420415-09cc-4c19-becc-e09b0b9deb9e",
      "name": "Claude (Source Discovery Fallback)",
      "credentials": {
        "anthropicApi": {"id": "", "name": "Anthropic Account"}
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"sources\", \"search_summary\"],\n  \"properties\": {\n    \"search_summary\": {\"type\": \"string\"},\n    \"sources\": {\n      \"type\": \"array\",\n      \"minItems\": 3,\n      \"maxItems\": 8,\n      \"items\": {\n        \"type\": \"object\",\n        \"required\": [\"url\", \"justification\", \"tag\", \"title\"],\n        \"properties\": {\n          \"url\": {\"type\": \"string\"},\n          \"title\": {\"type\": \"string\"},\n          \"justification\": {\"type\": \"string\"},\n          \"tag\": {\"type\": \"string\", \"enum\": [\"data\", \"opposing_view\", \"etf_context\", \"historical_parallel\", \"deep_dive\"]}\n        }\n      }\n    }\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-4656, 3760],
      "id": "4db88827-aa3c-4b1c-bf97-1b9d17a16b15",
      "name": "Source List Schema Parser"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [-4480, 3760],
      "id": "a3417ede-ba2f-4ea9-8d6b-2a5dbeb9a4f6",
      "name": "Mistral (Source Schema Fixer)",
      "credentials": {
        "mistralCloudApi": {"id": "", "name": "Mistral Cloud Account"}
      }
    },
    {
      "parameters": {
        "jsCode": "const sources = $input.first().json.output.sources;\n\nconst seen = new Set();\nconst deduped = sources.filter(source => {\n  try {\n    const key = source.url\n      .replace(/^https?:\\/\\//, '')\n      .replace(/\\/+$/, '')\n      .replace(/\\?.*$/, '');\n    if (seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  } catch {\n    return false;\n  }\n});\n\nconst tier1Domains = [\n  'bloomberg.com', 'reuters.com', 'wsj.com', 'ft.com',\n  'imf.org', 'oecd.org', 'federalreserve.gov', 'sec.gov'\n];\n\nconst scored = deduped.map(source => {\n  const isTier1 = tier1Domains.some(d => source.url.includes(d));\n  const domainScore = isTier1 ? 2 : 1;\n  const tagScore = { data: 3, opposing_view: 3, etf_context: 2, deep_dive: 2, historical_parallel: 1 };\n  return { ...source, _score: domainScore + (tagScore[source.tag] || 1) };\n});\n\nscored.sort((a, b) => b._score - a._score);\n\nconst final = scored.slice(0, 6);\n\nreturn final.map(source => ({\n  json: {\n    url: source.url,\n    title: source.title,\n    justification: source.justification,\n    tag: source.tag\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4304, 3616],
      "id": "590cf67f-436c-4543-951e-23d07d3da742",
      "name": "Dedup & Sort Sources"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-4128, 3616],
      "id": "666f3439-502d-4ad7-ba3b-cf5c7b2cdac7",
      "name": "Fetch Loop"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "excludeSelector": "nav, header, footer, aside, .sidebar, .navigation, .menu, .nav, #sidebar, #navigation, #menu, #footer, #header, .breadcrumb, .cookie-banner, .donate-bar, [role=\"navigation\"], [role=\"banner\"], [role=\"complementary\"]"
        },
        "requestOptions": {"timeout": 15000}
      },
      "type": "n8n-nodes-base.jinaAi",
      "typeVersion": 1,
      "position": [-3936, 3712],
      "id": "39b0d6ac-6035-4bea-8fab-d0b368cf1e9b",
      "name": "Jina Reader",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 2,
      "credentials": {
        "jinaAiApi": {"id": "", "name": "Jina AI Account"}
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Search the web for financial news, market data, analyst commentary, and investment research. Use this tool to find sources that the editorial team can reference. Execute each search query separately. Prefer specific financial queries using ticker symbols, company names, ETF names, and financial terminology over generic phrases.",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `A specific financial search query. Use ticker symbols, company or fund names, and financial terms. Keep queries to 4-8 words for best results. Examples: \"MOAT ETF institutional outflows 2026\", \"wide moat stocks underperformance\", \"VanEck MOAT vs VTI performance comparison\", \"gold price vs S&P 500 2026\". Do not repeat a query you have already used.`, 'string') }}",
        "count": 12,
        "additionalParameters": {
          "search_lang": "en",
          "safesearch": "moderate",
          "units": "metric",
          "extra_snippets": true
        }
      },
      "type": "@brave/n8n-nodes-brave-search.braveSearchTool",
      "typeVersion": 1,
      "position": [-4432, 3472],
      "id": "059bdffb-f704-471a-a6aa-3a1c91803e6d",
      "name": "Brave Search3",
      "credentials": {
        "braveSearchApi": {"id": "", "name": "Brave Search Account"}
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [-4896, 3216],
      "id": "c272f8c6-dd37-43f7-9d07-31933407d71c",
      "name": "Global Constants7",
      "credentials": {
        "globalConstantsApi": {"id": "", "name": "Workflow Constants"}
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Global Constants7').first().json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Constants7').first().json.constants.GoogleSheet3 }}",
          "mode": "name"
        },
        "filtersUI": {
          "values": [{"lookupColumn": "STATUS", "lookupValue": "SELECTED"}]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-4512, 3200],
      "id": "517f86e3-4ab1-4bf3-b8ef-6bbde79b83de",
      "name": "Google Sheets - Get SELECTED Video",
      "credentials": {
        "googleSheetsOAuth2Api": {"id": "", "name": "Google Sheets Account"}
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Global Constants7').first().json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Constants7').first().json.constants.GoogleSheet1 }}",
          "mode": "name"
        },
        "filtersUI": {
          "values": [{"lookupColumn": "KEYWORD", "lookupValue": "={{ $json.KW }}"}]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-4320, 3200],
      "id": "d0908f28-87ee-4e08-8432-d422ccaacaae",
      "name": "Google Sheets - Get KW Row",
      "credentials": {
        "googleSheetsOAuth2Api": {"id": "", "name": "Google Sheets Account"}
      }
    },
    {
      "parameters": {
        "operation": "deleteCollection",
        "collectionName": {"__rl": true, "value": "=YourBlogCollection", "mode": "name"},
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [-5040, 3376],
      "id": "5da2d531-305c-4c3b-93dc-3e3b09b968a9",
      "name": "Delete Old Qdrant Collection",
      "credentials": {
        "qdrantRestApi": {"id": "", "name": "Qdrant Account"}
      }
    },
    {
      "parameters": {"amount": 30},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-4880, 3376],
      "id": "e7db39da-ee49-4271-90fc-1426007942cf",
      "name": "Wait for Deletion",
      "webhookId": "9441dfde-394d-4f9a-8352-6484cbef61bc"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://qdrant:6333/collections/YourBlogCollection",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantRestApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Content-Type", "value": "application/json"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"vectors\": {\n    \"size\": 1024,\n    \"distance\": \"Cosine\",\n    \"on_disk\": true\n  },\n  \"shard_number\": 1,  \n  \"replication_factor\": 1,  \n  \"write_consistency_factor\": 1,\n  \"hnsw_config\": { \"m\": 32, \"ef_construct\": 256, \"on_disk\": false },\n  \"optimizers_config\": { \"default_segment_number\": 1 }\n}",
        "options": {}
      },
      "id": "c4eca348-2e7a-4bee-89ca-240ae05c1f26",
      "name": "Create Qdrant Collection",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-4688, 3200],
      "typeVersion": 4.2,
      "retryOnFail": true,
      "credentials": {
        "qdrantRestApi": {"id": "", "name": "Qdrant Account"}
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.com/v2/embed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"embed-english-v3.0\",\n  \"input_type\": \"search_document\",\n  \"embedding_types\": [\"float\"],\n  \"texts\": [\n    {{ JSON.stringify($json.text) }}\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-3936, 3760],
      "id": "39c6bf81-1f62-44ab-964c-cf172d369082",
      "name": "Cohere Embed",
      "credentials": {
        "httpHeaderAuth": {"id": "", "name": "Cohere Header Auth"}
      }
    },
    {
      "parameters": {
        "resource": "point",
        "operation": "upsertPoints",
        "collectionName": {"__rl": true, "value": "=YourBlogCollection", "mode": "name"},
        "points": "=[\n  {\n    \"id\": {{ Math.floor(Math.random() * 2147483647) }},\n    \"payload\": {\n      \"source_url\": {{ JSON.stringify($('Clean & Chunk Jina Output').item.json.metadata.source_url) }},\n      \"source_title\": {{ JSON.stringify($('Clean & Chunk Jina Output').item.json.metadata.source_title) }},\n      \"source_tag\": {{ JSON.stringify($('Clean & Chunk Jina Output').item.json.metadata.source_tag) }},\n      \"chunk_index\": {{ $('Clean & Chunk Jina Output').item.json.metadata.chunk_index }},\n      \"text\": {{ JSON.stringify($('Clean & Chunk Jina Output').item.json.text) }}\n    },\n    \"vector\": {{ JSON.stringify($json.embeddings.float[0]) }}\n  }\n]",
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [-3824, 3760],
      "id": "56749fe6-b1ab-4eac-8c53-99f518248cd2",
      "name": "Qdrant Upsert",
      "credentials": {
        "qdrantRestApi": {"id": "", "name": "Qdrant Account"}
      }
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {"maxTokens": 12000, "temperature": 0.3, "safeMode": false}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [-3648, 3584],
      "id": "b3a78684-1d93-405f-b5c3-cbd9042f7b88",
      "name": "Mistral (Source Discovery)1",
      "credentials": {
        "mistralCloudApi": {"id": "", "name": "Mistral Cloud Account"}
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {"maxTokensToSample": 24000, "thinking": true, "thinkingBudget": 12000}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [-3696, 3584],
      "id": "b15dd971-a158-4404-a574-c64aeb97fcb2",
      "name": "Claude (Source Discovery Fallback)1",
      "credentials": {
        "anthropicApi": {"id": "", "name": "Anthropic Account"}
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"title\", \"subtitle\", \"meta_description\", \"blocks\"],\n  \"properties\": {\n    \"title\": {\"type\": \"string\", \"maxLength\": 70},\n    \"subtitle\": {\"type\": \"string\", \"maxLength\": 200},\n    \"meta_description\": {\"type\": \"string\", \"maxLength\": 160},\n    \"blocks\": {\n      \"type\": \"array\",\n      \"minItems\": 15,\n      \"maxItems\": 50,\n      \"items\": {\n        \"type\": \"object\",\n        \"required\": [\"type\"],\n        \"properties\": {\n          \"type\": {\"type\": \"string\", \"enum\": [\"heading\", \"paragraph\", \"quote\", \"image\", \"divider\", \"callout\", \"call_to_action\", \"paywall\", \"button\", \"signup\"]},\n          \"text\": {\"type\": \"string\"},\n          \"level\": {\"type\": \"integer\", \"enum\": [2, 3]},\n          \"src\": {\"type\": \"string\"},\n          \"alt\": {\"type\": \"string\"},\n          \"caption\": {\"type\": \"string\"},\n          \"emoji\": {\"type\": \"string\"},\n          \"color\": {\"type\": \"string\", \"enum\": [\"grey\", \"blue\", \"red\", \"yellow\", \"green\", \"purple\", \"pink\"]},\n          \"url\": {\"type\": \"string\"},\n          \"alignment\": {\"type\": \"string\", \"enum\": [\"left\", \"center\"]},\n          \"heading\": {\"type\": \"string\"},\n          \"subheading\": {\"type\": \"string\"},\n          \"button_text\": {\"type\": \"string\"}\n        }\n      }\n    }\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-3584, 3552],
      "id": "9ebbc7a9-1bf5-4c30-ac1e-a9af34f2220a",
      "name": "Source List Schema Parser1"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [-3408, 3552],
      "id": "85868819-5c75-4b69-83e1-08c9d67d2022",
      "name": "Mistral (Source Schema Fixer)1",
      "credentials": {
        "mistralCloudApi": {"id": "", "name": "Mistral Cloud Account"}
      }
    },
    {
      "parameters": {
        "jsCode": "const brief = $('Build Search Brief').first().json;\n\nconst etfMentionGuide = brief.relevantFunds.length > 0\n  ? `## ETF mention guide\\n\\nThese funds are relevant to this article's topic. Mention them naturally when the content aligns — use callout blocks for ETF references so they feel editorial, not promotional.\\n\\n${brief.relevantFunds.join('\\n')}\\n\\nFunds to avoid mentioning: ${brief.notRelevantFunds.join(', ')}`\n  : '## ETF mention guide\\n\\nNo funds are directly relevant. Do not force any ETF mentions.';\n\nreturn [{\n  json: {\n    videoTitle: brief.videoTitle,\n    videoUrl: brief.videoUrl,\n    channelName: brief.channelName,\n    keyword: brief.keyword,\n    keywordSummary: brief.keywordSummary,\n    fullTranscript: brief.fullTranscript,\n    etfMentionGuide,\n    qdrantCollection: `blog_research_${brief.videoId}`,\n    videoId: brief.videoId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3904, 3392],
      "id": "a4c838ac-34d1-4309-be68-fe224c1b97ea",
      "name": "Compile Blog Brief"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the research knowledge base for specific data points, statistics, historical parallels, and expert analysis related to the blog article you are writing. This knowledge base contains chunked content from 5-6 high-quality financial sources (Bloomberg, Reuters, WSJ, Morningstar, etc.) that were selected specifically to support this article.\n\nUse this tool when you need:\n- A specific statistic to back up a claim\n- Historical context for a comparison you're making\n- An opposing viewpoint to present the other side of an argument\n- ETF-specific data (performance, holdings, expense ratios)\n- Expert quotes or analyst commentary\n\nRun 3-6 searches per article. Search with specific phrases, not vague topics.\n\nEvery specific number you cite in the article MUST come from either this knowledge base or the video transcript. Do not invent statistics.",
        "qdrantCollection": {"__rl": true, "value": "=YourBlogCollection", "mode": "id"},
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [-3632, 3280],
      "id": "ad09039e-c695-4fd1-a704-da84d17df3c4",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {"id": "", "name": "Qdrant API Key"}
      }
    },
    {
      "parameters": {"modelName": "embed-english-v3.0"},
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [-3632, 3280],
      "id": "00ff445b-2d8c-4070-bf97-c52de290e316",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {"id": "", "name": "Cohere Account"}
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst content = item.content || '';\nconst sourceUrl = item.url || '';\nconst sourceTitle = item.title || '';\nconst sourceTag = item.tag || 'unknown';\n\nif (!content || content.length < 200) {\n  return [{\n    json: {\n      text: 'No content could be extracted.',\n      metadata: { source_url: sourceUrl, source_title: sourceTitle, source_tag: sourceTag, chunk_index: 0 }\n    }\n  }];\n}\n\nconst cleaned = content.replace(/\\n{3,}/g, '\\n\\n').replace(/\\s{2,}/g, ' ').trim();\nconst paragraphs = cleaned.split(/\\n\\n+/);\nconst chunks = [];\nlet currentChunk = '';\nlet chunkIndex = 0;\n\nfor (const para of paragraphs) {\n  const combined = currentChunk + '\\n\\n' + para;\n  if (combined.split(/\\s+/).length > 600 && currentChunk.length > 0) {\n    chunks.push({ text: currentChunk.trim(), chunk_index: chunkIndex });\n    currentChunk = para;\n    chunkIndex++;\n  } else {\n    currentChunk = combined;\n  }\n}\n\nif (currentChunk.trim().length > 100) {\n  chunks.push({ text: currentChunk.trim(), chunk_index: chunkIndex });\n}\n\nif (chunks.length === 0) {\n  return [{\n    json: {\n      text: 'No content could be extracted.',\n      metadata: { source_url: sourceUrl, source_title: sourceTitle, source_tag: sourceTag, chunk_index: 0 }\n    }\n  }];\n}\n\nreturn chunks.map(c => ({\n  json: {\n    text: c.text,\n    metadata: { source_url: sourceUrl, source_title: sourceTitle, source_tag: sourceTag, chunk_index: c.chunk_index }\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3824, 3712],
      "id": "51cbcd06-895b-4f09-a00a-13eb702f5c29",
      "name": "Clean & Chunk Jina Output"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### Video source ###\nTitle: {{ $json.videoTitle }}\nChannel: {{ $json.channelName }}\nVideo URL: {{ $json.videoUrl }}\nKeyword: {{ $json.keyword }}\nKeyword context: {{ $json.keywordSummary }}\n\n### Full transcript ###\n{{ $json.fullTranscript }}\n\n### ETF mention guide ###\n{{ $json.etfMentionGuide }}\n\nWrite the blog article now. Use the research knowledge base tool to find supporting data, opposing viewpoints, and specific statistics. Output the article as an ordered array of Ghost blocks.",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are the lead writer for a financial blog that challenges conventional thinking, breaks down complex ideas for smart readers, and isn't afraid to provoke. Your job is to transform a YouTube video transcript into a compelling, original blog article — not a summary of the video, but a new piece of writing that uses the video as a jumping-off point.\n\n## Your voice\n\nYou are an intellectual who doesn't take yourself too seriously. You can break down a credit default swap or a Fed rate decision in plain English without making the reader feel stupid. You have strong opinions but you show your working. You're conversational — you write like you talk, but tighter. You use \"I\" freely. You swear occasionally if it lands. You're the friend who happens to know a lot about markets and isn't afraid to tell you when you're being an idiot — but does it with a grin.\n\nKey principles:\n- Contrarian but not cynical. Challenge the mainstream take but bring evidence, not just attitude.\n- Provocative but not clickbait. The title should make someone stop scrolling. The article should make them glad they did.\n- Explanatory but not condescending. Assume the reader is smart but busy.\n- Specific over vague. \"The S&P is down 4.6% this quarter\" beats \"markets have been rough lately.\"\n- Short paragraphs. Two to three sentences max per paragraph block.\n\n## Your process\n\n1. Read the transcript carefully. Identify the 2-3 most interesting claims, insights, or arguments.\n2. Use the research knowledge base tool to find specific data points, statistics, and supporting or contradicting evidence. Run 3-6 searches. Do NOT make up statistics — if you can't find it in the knowledge base, don't cite it.\n3. Build your article around a THESIS — one clear argument or perspective that runs through the whole piece. This should be YOUR take, not just a rehash of what the YouTuber said.\n4. Structure the article so it flows naturally and keeps the reader engaged. Vary the block types. Use quotes for mic-drop moments, callouts for ETF mentions, images for visual breaks.\n\n## Block types and when to use them\n\nYou must output the article as an ordered JSON array of block objects. Each block has a \"type\" and type-specific fields. Here is your vocabulary:\n\n**heading** — Use for section breaks. Level 2 for major sections, level 3 for subsections. Don't overuse — 3-5 headings per article max. Make them punchy and opinionated, not generic.\n\n**paragraph** — The workhorse. Keep each paragraph to 2-3 sentences. Supports inline markdown: **bold**, *italic*, [links](url). Use bold sparingly for emphasis on key phrases. Use links to credit sources.\n\n**quote** — For pull quotes and mic-drop moments. The sentences you want people to screenshot and share. Use 2-4 per article.\n\n**image** — Place 2-3 images throughout the article for visual rhythm. Set src to \"PLACEHOLDER\" — it will be filled in later. Write a descriptive alt text that could be used to search for the right image.\n\n**divider** — Visual break between major sections. Use 1-3 per article.\n\n**callout** — Use EXCLUSIVELY for ETF/fund mentions. Use an emoji that fits the fund's character. Color options: grey, blue, red, yellow, green, purple, pink. Callout blocks do NOT support markdown formatting.\n\n**call_to_action** — Place ONE in the top third or middle of the article. Frame it as a provocative question that invites the reader to comment.\n\n**paywall** — Place at approximately the 50% mark.\n\n**button** — Use once, to link to the original YouTube video that inspired the article.\n\n**signup** — The very last block of every article.\n\n## Structural rules\n\n1. NEVER start the article with a heading. Start with a paragraph that hooks the reader immediately.\n2. The call_to_action question block goes in the top third or middle.\n3. The paywall goes at roughly the 50% mark.\n4. The signup block is always the ABSOLUTE LAST block.\n5. Don't stack three paragraph blocks in a row without a visual break.\n6. A callout block for an ETF should feel like an editorial aside.\n7. NEVER place two callout blocks back to back.\n8. Reference the original YouTube video naturally in the article and include a button block linking to it. This button MUST appear in the FIRST THIRD of the article.\n9. Every claim that involves a specific number MUST come from the research knowledge base or the transcript. Do not invent statistics.\n\n## ETF mention rules\n\n- Only mention funds marked as relevant. NEVER mention funds marked as not relevant.\n- Use callout blocks for ETF mentions — not paragraph blocks.\n- Each ETF mention should feel EARNED.\n- Maximum 3 callout blocks per article.\n- The callout text should explain WHY this fund is relevant to the specific point.\n\n## Title and metadata\n\nIn addition to the blocks array, output a title, subtitle, and meta description. The title should be under 70 characters, provocative, and specific. The subtitle should expand on the title's promise. The meta description is for SEO — under 160 characters.",
          "maxIterations": 10,
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-3696, 3392],
      "id": "42bba067-1104-47a7-b9ad-838ad058e525",
      "name": "Blog Writer Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nconst brief = $('Compile Blog Brief').first().json;\n\nreturn [{\n  json: {\n    STATUS: 'PENDING',\n    DATE: new Date().toISOString().split('T')[0],\n    VIDEO_ID: brief.videoId,\n    VIDEO_URL: brief.videoUrl,\n    KEYWORD: brief.keyword,\n    CHANNEL: brief.channelName,\n    TITLE: output.title,\n    SUBTITLE: output.subtitle,\n    META_DESCRIPTION: output.meta_description,\n    BLOCKS_JSON: JSON.stringify(output.blocks),\n    BLOCK_COUNT: output.blocks.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3280, 3248],
      "id": "4762b885-4437-4f5a-adc8-92dc98d10fda",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Global Constants7').first().json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {"__rl": true, "value": "Blog Outputs", "mode": "name"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "STATUS": "={{ $json.STATUS }}",
            "DATE": "={{ $json.DATE }}",
            "VIDEO_ID": "={{ $json.VIDEO_ID }}",
            "KEYWORD": "={{ $json.KEYWORD }}",
            "BLOCK_COUNT": "={{ $json.BLOCK_COUNT }}",
            "BLOCKS_JSON": "={{ $json.BLOCKS_JSON }}",
            "META_DESCRIPTION": "={{ $json.META_DESCRIPTION }}",
            "SUBTITLE": "={{ $json.SUBTITLE }}",
            "TITLE": "={{ $json.TITLE }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-3152, 3248],
      "id": "5f72aa7a-063d-4d77-924d-8c103620dbcd",
      "name": "Append row in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {"id": "", "name": "Google Sheets Account"}
      }
    },
    {
      "parameters": {
        "url": "=http://YOUR_N8N_HOST:5678/webhook/REPLACE_WITH_WEBHOOK_PATH_4",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-2880, 3248],
      "id": "6dcf02f2-228c-4a96-8ff4-68399476d6ed",
      "name": "Call Webhook 4",
      "executeOnce": true
    },
    {
      "parameters": {
        "path": "d4c5d312-2d3e-4883-b67e-77dca1c4ee39",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-5008, 4304],
      "id": "a355f498-9a84-4f42-a758-a34e8b82ac08",
      "name": "Webhook4",
      "webhookId": "d4c5d312-2d3e-4883-b67e-77dca1c4ee39"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [-4768, 4304],
      "id": "e4817cfe-0a49-4321-9bd9-72b11eb355c1",
      "name": "Global Constants8",
      "credentials": {
        "globalConstantsApi": {"id": "", "name": "Workflow Constants"}
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nconst blocks = JSON.parse(row.BLOCKS_JSON);\n\nconst imagePlaceholders = blocks\n  .map((block, index) => ({ ...block, originalIndex: index }))\n  .filter(block => block.type === 'image' && block.src === 'PLACEHOLDER');\n\nreturn [{\n  json: {\n    ...row,\n    blocks,\n    imagePlaceholders,\n    imageCount: imagePlaceholders.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4352, 4304],
      "id": "69f79668-ca39-47f4-ae57-76fd5d1550ac",
      "name": "Parse Blocks & Extract Images"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst placeholders = data.imagePlaceholders;\n\nif (placeholders.length === 0) {\n  return [{\n    json: {\n      ...data,\n      skipImageSearch: true\n    }\n  }];\n}\n\nreturn placeholders.map(img => ({\n  json: {\n    alt: img.alt,\n    caption: img.caption || '',\n    originalIndex: img.originalIndex,\n    searchQuery: img.alt.substring(0, 100)\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4192, 4304],
      "id": "8fcfa2cb-c963-480a-9cfa-6a722f676cb8",
      "name": "Fan Out Image Placeholders"
    },
    {
      "parameters": {
        "operation": "images",
        "query": "={{ $json.searchQuery }}",
        "count": 10,
        "additionalParameters": {
          "search_lang": "en",
          "safesearch": "strict"
        }
      },
      "type": "@brave/n8n-nodes-brave-search.braveSearch",
      "typeVersion": 1,
      "position": [-4016, 4304],
      "id": "75be1ed2-1c67-4cd5-8d69-3abfae190dfb",
      "name": "Brave Search",
      "credentials": {
        "braveSearchApi": {"id": "", "name": "Brave Search Account"}
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst blocks = data.blocks || JSON.parse(data.BLOCKS_JSON || '[]');\n\nconst ghostBlocks = blocks.map(block => {\n  switch (block.type) {\n    case 'paragraph':\n      return { type: 'paragraph', text: block.text };\n\n    case 'heading':\n      return { type: 'heading', text: block.text, level: block.level || 2 };\n\n    case 'quote':\n      return { type: 'quote', text: block.text };\n\n    case 'image':\n      return {\n        type: 'image',\n        src: block.src,\n        alt: block.alt || '',\n        caption: block.caption || ''\n      };\n\n    case 'divider':\n      return { type: 'divider' };\n\n    case 'callout':\n      return {\n        type: 'callout',\n        text: (block.text || '')\n          .replace(/\\*\\*(.+?)\\*\\*/g, '$1')\n          .replace(/\\*(.+?)\\*/g, '$1')\n          .replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1'),\n        emoji: block.emoji || '',\n        color: block.color || 'grey'\n      };\n\n    case 'call_to_action':\n      return {\n        type: 'call_to_action',\n        text: block.text,\n        button_text: block.button_text || '',\n        button_url: block.button_url || ''\n      };\n\n    case 'paywall':\n      return { type: 'paywall' };\n\n    case 'button':\n      return {\n        type: 'button',\n        text: block.text,\n        url: block.url,\n        alignment: block.alignment || 'center'\n      };\n\n    case 'signup':\n      return {\n        type: 'signup',\n        heading: block.heading,\n        subheading: block.subheading,\n        button_text: block.button_text,\n        background_color: '#15171A',\n        button_color: '#000000'\n      };\n\n    default:\n      return { type: 'paragraph', text: block.text || '' };\n  }\n});\n\nreturn [{\n  json: {\n    title: data.title || data.TITLE,\n    subtitle: data.subtitle || data.SUBTITLE,\n    meta_description: data.meta_description || data.META_DESCRIPTION,\n    row_number: data.row_number,\n    feature_image: data.feature_image || data.FEATURE_IMAGE || '',\n    content: ghostBlocks\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3328, 4592],
      "id": "bd006c74-c8fa-4454-8fea-dfae1501864d",
      "name": "Transform to Ghost Blocks"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map((item, index) => {\n  const results = item.json.results || [];\n\n  const candidates = results\n    .map((img, i) => {\n      const url = img.properties?.url || img.thumbnail?.src || '';\n      return {\n        index: i,\n        url,\n        thumbUrl: img.thumbnail?.src || url,\n        title: img.title || '',\n        source: img.source || ''\n      };\n    })\n    .filter(img => img.url && img.url.startsWith('http'))\n    .slice(0, 8);\n\n  return {\n    json: {\n      originalIndex: index,\n      alt: item.json.query?.original || '',\n      caption: '',\n      candidates\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4928, 4672],
      "id": "83763156-e63d-4c8e-b092-8860043d6218",
      "name": "Package Image Candidates"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I need you to select the best image for a financial blog article.\n\n### What the image should show ###\n{{ $json.alt }}\n\n### Caption context ###\n{{ $json.caption }}\n\n### Candidates ###\n{{ $json.candidates.map((c, i) => `${i + 1}. \"${c.title}\" — ${c.source} — ${c.thumbUrl}`).join('\\n') }}\n\nReview each candidate's thumbnail URL visually. Pick the ONE image that best matches the described context, looks professional enough for a financial blog, and isn't a meme, ad, or low-quality stock photo.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an image editor for a professional financial blog. Your job is to select the single best image from a set of candidates for a specific placement in a blog article.\n\n## Selection criteria (in priority order)\n\n1. **Relevance** — Does the image actually depict what the alt text describes?\n2. **Professionalism** — Would this image look at home in Bloomberg, the Financial Times, or The Economist? No memes, no clipart, no low-resolution thumbnails, no watermarked stock photos.\n3. **Editorial fit** — Does the image add visual value? A bland corporate stock photo is worse than a clean chart or data visualization.\n4. **Source quality** — Prefer images from reputable financial publications, data providers, or news outlets over random blogs or social media.\n\n## Rejection criteria\n\nReject any candidate that is:\n- A meme, cartoon, or humorous image (unless the alt text specifically calls for one)\n- Watermarked or clearly a paid stock photo preview\n- Too small or pixelated (thumbnail-quality)\n- An advertisement or sponsored content image\n- Completely unrelated to the described context\n\nIf NO candidate is acceptable, say so. Do not force a pick."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-4720, 4672],
      "id": "472c5369-710b-4af3-a969-ac617c76e1d8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "# Flow 7 — Image Sourcing & Ghost API POST Request",
        "height": 960,
        "width": 2560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-5120, 4096],
      "typeVersion": 1,
      "id": "976c7085-29de-471a-a1d4-256745ee06cb",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"selected_index\", \"reasoning\", \"acceptable\"],\n  \"properties\": {\n    \"acceptable\": {\"type\": \"boolean\"},\n    \"selected_index\": {\"type\": \"integer\", \"minimum\": 0},\n    \"reasoning\": {\"type\": \"string\"}\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-4656, 4560],
      "id": "c02d8f12-ba91-41c2-b819-1e9d9adf72e8",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [-4672, 4560],
      "id": "d21e7bec-daed-4699-b452-3d30dcbd26a0",
      "name": "Mistral Cloud Chat Model3",
      "credentials": {
        "mistralCloudApi": {"id": "", "name": "Mistral Cloud Account"}
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-4720, 4880],
      "id": "fbccea2d-4357-4db9-b117-633d2e4de9d9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {"id": "", "name": "OpenAI Account"}
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst fallback = 'https://images.unsplash.com/photo-1611974789855-9c2a0a7236a3?w=1200';\n\nreturn items.map(item => {\n  const selection = item.json.output || {};\n  const candidates = item.json.candidates || [];\n  const alt = item.json.alt || '';\n  const caption = item.json.caption || '';\n  const originalIndex = item.json.originalIndex;\n\n  let finalSrc = fallback;\n  let finalSource = '';\n\n  if (selection.acceptable && selection.selected_index > 0) {\n    const picked = candidates[selection.selected_index - 1];\n    if (picked && picked.url) {\n      finalSrc = picked.url;\n      finalSource = picked.source || '';\n    }\n  }\n\n  return {\n    json: {\n      originalIndex,\n      src: finalSrc,\n      alt,\n      caption,\n      source: finalSource,\n      reasoning: selection.reasoning || 'No acceptable image found.'\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4176, 4576],
      "id": "fe737754-eb47-4ab6-bb39-0f34bc0ca352",
      "name": "Resolve Final Image"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-4352, 4576],
      "id": "3807b531-885e-4a32-b392-151b85783e87",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const images = $input.all().map(item => item.json);\n\nreturn [{\n  json: {\n    resolvedImages: images\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4000, 4576],
      "id": "502d5718-9761-4186-918d-631a8370c545",
      "name": "Aggregate Resolved Images"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-3776, 4592],
      "id": "f46efb8d-730c-466b-908d-b6bb3539298d",
      "name": "Merge1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.constants.GoogleSheet4 }}"
        },
        "filtersUI": {
          "values": [{"lookupColumn": "STATUS", "lookupValue": "PENDING"}]
        },
        "options": {"returnFirstMatch": true}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-4560, 4304],
      "id": "d9e3759f-08cc-4784-8d38-f394e412bcb3",
      "name": "Google Sheets Read PENDING Row",
      "credentials": {
        "googleSheetsOAuth2Api": {"id": "", "name": "Google Sheets Account"}
      }
    },
    {
      "parameters": {
        "jsCode": "const merged = $input.first().json;\nconst resolvedImages = merged.resolvedImages;\nconst blocksJson = merged.BLOCKS_JSON;\nconst blocks = JSON.parse(blocksJson);\n\nlet placeholderIndex = 0;\n\nfor (let i = 0; i < blocks.length; i++) {\n  if (blocks[i].type === 'image' && blocks[i].src === 'PLACEHOLDER') {\n    const resolved = resolvedImages.find(img => img.originalIndex === placeholderIndex);\n    if (resolved) {\n      blocks[i].src = resolved.src;\n      if (resolved.source) {\n        blocks[i].caption = (blocks[i].caption || '') +\n          (blocks[i].caption ? ' | ' : '') +\n          'Source: ' + resolved.source;\n      }\n    }\n    placeholderIndex++;\n  }\n}\n\nlet featureImage = '';\nfor (let i = 0; i < blocks.length; i++) {\n  if (blocks[i].type === 'image' && blocks[i].src && blocks[i].src !== 'PLACEHOLDER') {\n    featureImage = blocks[i].src;\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    row_number: merged.row_number,\n    BLOCKS_JSON: JSON.stringify(blocks),\n    TITLE: merged.TITLE,\n    SUBTITLE: merged.SUBTITLE,\n    META_DESCRIPTION: merged.META_DESCRIPTION,\n    FEATURE_IMAGE: featureImage,\n    STATUS: 'IMAGES_DONE',\n    blocks,\n    feature_image: featureImage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3632, 4592],
      "id": "f776a13a-14db-4caa-b7b8-cd6e486ef67e",
      "name": "Patch Blocks & Prepare Update"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Global Constants8').first().json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Constants8').first().json.constants.GoogleSheet4 }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "STATUS": "READY",
            "row_number": "={{ $json.row_number }}",
            "BLOCKS_JSON": "={{ $json.BLOCKS_JSON }}",
            "FEATURE_IMAGE": "={{ $json.FEATURE_IMAGE }}"
          },
          "matchingColumns": ["row_number"],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-3472, 4592],
      "id": "a9524417-0e8e-4f3d-852a-97b7c56b7008",
      "name": "Google Sheets Update",
      "credentials": {
        "googleSheetsOAuth2Api": {"id": "", "name": "Google Sheets Account"}
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-ghost-instance.example.com/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($json.TITLE || $('Google Sheets Read PENDING Row').item.json.TITLE || '') }},\n  \"excerpt\": {{ JSON.stringify($json.SUBTITLE || $('Google Sheets Read PENDING Row').item.json.SUBTITLE || '') }},\n  \"status\": \"published\",\n  \"visibility\": \"members\",\n  \"feature_image\": {{ JSON.stringify($json.FEATURE_IMAGE || $json.feature_image || '') }},\n  \"content\": {{ JSON.stringify($json.content) }},\n  \"seo\": {\n    \"meta_description\": {{ JSON.stringify($json.META_DESCRIPTION || $json.meta_description || '') }}\n  },\n  \"newsletter\": {\n    \"send\": true,\n    \"slug\": \"default-newsletter\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-3184, 4592],
      "id": "7a71c795-a92d-4d55-9747-5f4133c8fa27",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {"id": "", "name": "Ghost Publisher API Key"}
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Global Constants8').first().json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Constants8').first().json.constants.GoogleSheet4 }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "STATUS": "PUBLISHED",
            "row_number": "={{ $('Google Sheets Read PENDING Row').item.json.row_number }}"
          },
          "matchingColumns": ["row_number"],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-2992, 4464],
      "id": "d76f1505-50cd-412b-bdff-6f9265878e13",
      "name": "Google Sheets Update1",
      "credentials": {
        "googleSheetsOAuth2Api": {"id": "", "name": "Google Sheets Account"}
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Global Constants7').first().json.constants.GoogleSheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Constants7').first().json.constants.GoogleSheet3 }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "STATUS": "COMPLETED",
            "row_number": "={{ $('Google Sheets - Get SELECTED Video').first().json.row_number }}"
          },
          "matchingColumns": ["row_number"],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-3024, 3248],
      "id": "3bb8ab99-b399-4cd7-a90e-c5427a206ee2",
      "name": "Google Sheets Update2",
      "credentials": {
        "googleSheetsOAuth2Api": {"id": "", "name": "Google Sheets Account"}
      }
    },
    {
      "parameters": {
        "url": "https://youtube-v2.p.rapidapi.com/channel/id",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "channel_name", "value": "={{ $json.channel.name }}"}]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "x-rapidapi-host", "value": "youtube-v2.p.rapidapi.com"}]
        },
        "sendBody": true,
        "bodyParameters": {"parameters": [{}]},
        "options": {
          "batching": {"batch": {"batchSize": 1, "batchInterval": 10000}}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-3168, 1696],
      "id": "f16da512-5c15-4eae-80da-3af397b254b6",
      "name": "HTTP Request6",
      "credentials": {
        "httpDigestAuth": {"id": "", "name": "RapidAPI Digest Auth"},
        "httpHeaderAuth": {"id": "", "name": "RapidAPI Header Auth"}
      }
    },
    {
      "parameters": {
        "url": "https://youtube-v2.p.rapidapi.com/channel/details",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "channel_id", "value": "={{ $json.channel_id }}"}]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "x-rapidapi-host", "value": "youtube-v2.p.rapidapi.com"}]
        },
        "sendBody": true,
        "bodyParameters": {"parameters": [{}]},
        "options": {
          "batching": {"batch": {"batchSize": 1, "batchInterval": 10000}}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-2992, 1696],
      "id": "5e918417-3aef-477d-8605-1be4c333366e",
      "name": "HTTP Request7",
      "credentials": {
        "httpDigestAuth": {"id": "", "name": "RapidAPI Digest Auth"},
        "httpHeaderAuth": {"id": "", "name": "RapidAPI Header Auth"}
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a072a471-ef94-4812-bfec-7661fba0c994",
              "leftValue": "={{ $json.transcript.length > 50000 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-3136, 2224],
      "id": "be414875-b44a-45f9-a7b5-d6caa2876e10",
      "name": "If"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-5312, 2000],
      "id": "832bf9e3-0f32-42de-86ea-92e5c510e1f3",
      "name": "Schedule Trigger1"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{"node": "Global Constants", "type": "main", "index": 0}]]
    },
    "Global Constants": {
      "main": [[{"node": "Get ETFs", "type": "main", "index": 0}]]
    },
    "Get ETFs": {
      "main": [[{"node": "Aggregate ETF Bios", "type": "main", "index": 0}]]
    },
    "Aggregate ETF Bios": {
      "main": [[{"node": "Get Keywords", "type": "main", "index": 0}]]
    },
    "Get Keywords": {
      "main": [[{"node": "Loop Over Items", "type": "main", "index": 0}]]
    },
    "Code in JavaScript": {
      "main": [[{"node": "AI Agent2", "type": "main", "index": 0}]]
    },
    "AI Agent2": {
      "main": [[{"node": "Update row in sheet1", "type": "main", "index": 0}]]
    },
    "Loop Over Items": {
      "main": [[], [{"node": "Code in JavaScript", "type": "main", "index": 0}]]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [[{"node": "AI Agent2", "type": "ai_outputParser", "index": 0}]]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [[{"node": "Structured Output Parser2", "type": "ai_languageModel", "index": 0}]]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [[{"node": "AI Agent2", "type": "ai_languageModel", "index": 0}]]
    },
    "Redis Chat Memory2": {
      "ai_memory": [[{"node": "AI Agent2", "type": "ai_memory", "index": 0}]]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [[{"node": "AI Agent2", "type": "ai_languageModel", "index": 1}]]
    },
    "Brave Search2": {
      "ai_tool": [[{"node": "AI Agent2", "type": "ai_tool", "index": 0}]]
    },
    "Update row in sheet1": {
      "main": [[{"node": "Loop Over Items", "type": "main", "index": 0}]]
    },
    "Schedule Trigger": {
      "main": [[{"node": "Global Constants3", "type": "main", "index": 0}]]
    },
    "Global Constants3": {
      "main": [[{"node": "Get Keywords1", "type": "main", "index": 0}]]
    },
    "Get Keywords1": {
      "main": [[{"node": "Random KW Selector", "type": "main", "index": 0}]]
    },
    "Random KW Selector": {
      "main": [[{"node": "HTTP Request1", "type": "main", "index": 0}]]
    },
    "HTTP Request1": {
      "main": [[{"node": "Code in JavaScript1", "type": "main", "index": 0}]]
    },
    "Code in JavaScript1": {
      "main": [[{"node": "Limit1", "type": "main", "index": 0}]]
    },
    "Loop Over Items2": {
      "main": [[{"node": "Update Keywords", "type": "main", "index": 0}], [{"node": "HTTP Request2", "type": "main", "index": 0}]]
    },
    "HTTP Request2": {
      "main": [[{"node": "Append row in sheet3", "type": "main", "index": 0}]]
    },
    "Append row in sheet3": {
      "main": [[{"node": "Code in JavaScript2", "type": "main", "index": 0}]]
    },
    "Code in JavaScript2": {
      "main": [[{"node": "Code in JavaScript3", "type": "main", "index": 0}]]
    },
    "Code in JavaScript3": {
      "main": [[{"node": "HTTP Request3", "type": "main", "index": 0}]]
    },
    "Append row in sheet4": {
      "main": [[{"node": "Loop Over Items2", "type": "main", "index": 0}]]
    },
    "HTTP Request3": {
      "main": [[{"node": "HTTP Request6", "type": "main", "index": 0}]]
    },
    "Update Keywords": {
      "main": [[{"node": "Call Webhook 1", "type": "main", "index": 0}]]
    },
    "Limit1": {
      "main": [[{"node": "Loop Over Items2", "type": "main", "index": 0}]]
    },
    "Webhook1": {
      "main": [[{"node": "Global Constants5", "type": "main", "index": 0}]]
    },
    "Global Constants5": {
      "main": [[{"node": "Get YouTube Videos2", "type": "main", "index": 0}]]
    },
    "Get YouTube Videos2": {
      "main": [[{"node": "Code in JavaScript4", "type": "main", "index": 0}]]
    },
    "Code in JavaScript4": {
      "main": [[{"node": "Update Keywords1", "type": "main", "index": 0}]]
    },
    "Update Keywords1": {
      "main": [[{"node": "Get YouTube Videos3", "type": "main", "index": 0}]]
    },
    "Get YouTube Videos3": {
      "main": [[{"node": "HTTP Request8", "type": "main", "index": 0}]]
    },
    "HTTP Request8": {
      "main": [[{"node": "Wait2", "type": "main", "index": 0}]]
    },
    "Wait2": {
      "main": [[{"node": "HTTP Request9", "type": "main", "index": 0}]]
    },
    "HTTP Request9": {
      "main": [[{"node": "If", "type": "main", "index": 0}]]
    },
    "Update Keywords2": {
      "main": [[{"node": "Call Webhook 2", "type": "main", "index": 0}]]
    },
    "Webhook2": {
      "main": [[{"node": "Global Constants6", "type": "main", "index": 0}]]
    },
    "Global Constants6": {
      "main": [[{"node": "Get YouTube Videos4", "type": "main", "index": 0}]]
    },
    "Get YouTube Videos4": {
      "main": [[{"node": "Code in JavaScript5", "type": "main", "index": 0}]]
    },
    "Code in JavaScript5": {
      "main": [[{"node": "AI Agent3", "type": "main", "index": 0}]]
    },
    "AI Agent3": {
      "main": [[{"node": "Code in JavaScript6", "type": "main", "index": 0}]]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [[{"node": "AI Agent3", "type": "ai_outputParser", "index": 0}]]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [[{"node": "Structured Output Parser3", "type": "ai_languageModel", "index": 0}]]
    },
    "Mistral Cloud Chat Model2": {
      "ai_languageModel": [[{"node": "AI Agent3", "type": "ai_languageModel", "index": 0}]]
    },
    "Code in JavaScript6": {
      "main": [[{"node": "Update Keywords3", "type": "main", "index": 0}]]
    },
    "Update Keywords3": {
      "main": [[{"node": "Call Webhook 3", "type": "main", "index": 0}]]
    },
    "Webhook3": {
      "main": [[{"node": "Global Constants7", "type": "main", "index": 0}]]
    },
    "Build Search Brief": {
      "main": [[{"node": "Source Discovery Agent", "type": "main", "index": 0}]]
    },
    "Source Discovery Agent": {
      "main": [[{"node": "Dedup & Sort Sources", "type": "main", "index": 0}]]
    },
    "Mistral (Source Discovery)": {
      "ai_languageModel": [[{"node": "Source Discovery Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Claude (Source Discovery Fallback)": {
      "ai_languageModel": [[{"node": "Source Discovery Agent", "type": "ai_languageModel", "index": 1}]]
    },
    "Source List Schema Parser": {
      "ai_outputParser": [[{"node": "Source Discovery Agent", "type": "ai_outputParser", "index": 0}]]
    },
    "Mistral (Source Schema Fixer)": {
      "ai_languageModel": [[{"node": "Source List Schema Parser", "type": "ai_languageModel", "index": 0}]]
    },
    "Dedup & Sort Sources": {
      "main": [[{"node": "Fetch Loop", "type": "main", "index": 0}]]
    },
    "Fetch Loop": {
      "main": [[{"node": "Compile Blog Brief", "type": "main", "index": 0}], [{"node": "Jina Reader", "type": "main", "index": 0}]]
    },
    "Jina Reader": {
      "main": [[{"node": "Clean & Chunk Jina Output", "type": "main", "index": 0}], []]
    },
    "Brave Search3": {
      "ai_tool": [[{"node": "Source Discovery Agent", "type": "ai_tool", "index": 0}]]
    },
    "Global Constants7": {
      "main": [[{"node": "Delete Old Qdrant Collection", "type": "main", "index": 0}]]
    },
    "Google Sheets - Get SELECTED Video": {
      "main": [[{"node": "Google Sheets - Get KW Row", "type": "main", "index": 0}]]
    },
    "Google Sheets - Get KW Row": {
      "main": [[{"node": "Build Search Brief", "type": "main", "index": 0}]]
    },
    "Delete Old Qdrant Collection": {
      "main": [[{"node": "Wait for Deletion", "type": "main", "index": 0}]]
    },
    "Wait for Deletion": {
      "main": [[{"node": "Create Qdrant Collection", "type": "main", "index": 0}]]
    },
    "Create Qdrant Collection": {
      "main": [[{"node": "Google Sheets - Get SELECTED Video", "type": "main", "index": 0}]]
    },
    "Cohere Embed": {
      "main": [[{"node": "Qdrant Upsert", "type": "main", "index": 0}]]
    },
    "Qdrant Upsert": {
      "main": [[{"node": "Fetch Loop", "type": "main", "index": 0}]]
    },
    "Mistral (Source Discovery)1": {
      "ai_languageModel": [[{"node": "Blog Writer Agent", "type": "ai_languageModel", "index": 1}]]
    },
    "Claude (Source Discovery Fallback)1": {
      "ai_languageModel": [[{"node": "Blog Writer Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Source List Schema Parser1": {
      "ai_outputParser": [[{"node": "Blog Writer Agent", "type": "ai_outputParser", "index": 0}]]
    },
    "Mistral (Source Schema Fixer)1": {
      "ai_languageModel": [[{"node": "Source List Schema Parser1", "type": "ai_languageModel", "index": 0}]]
    },
    "Compile Blog Brief": {
      "main": [[{"node": "Blog Writer Agent", "type": "main", "index": 0}]]
    },
    "Qdrant Vector Store": {
      "ai_tool": [[{"node": "Blog Writer Agent", "type": "ai_tool", "index": 0}]]
    },
    "Embeddings Cohere": {
      "ai_embedding": [[{"node": "Qdrant Vector Store", "type": "ai_embedding", "index": 0}]]
    },
    "Clean & Chunk Jina Output": {
      "main": [[{"node": "Cohere Embed", "type": "main", "index": 0}]]
    },
    "Blog Writer Agent": {
      "main": [[{"node": "Code in JavaScript7", "type": "main", "index": 0}]]
    },
    "Code in JavaScript7": {
      "main": [[{"node": "Append row in sheet5", "type": "main", "index": 0}]]
    },
    "Append row in sheet5": {
      "main": [[{"node": "Google Sheets Update2", "type": "main", "index": 0}]]
    },
    "Webhook4": {
      "main": [[{"node": "Global Constants8", "type": "main", "index": 0}]]
    },
    "Global Constants8": {
      "main": [[{"node": "Google Sheets Read PENDING Row", "type": "main", "index": 0}]]
    },
    "Parse Blocks & Extract Images": {
      "main": [[{"node": "Fan Out Image Placeholders", "type": "main", "index": 0}]]
    },
    "Fan Out Image Placeholders": {
      "main": [[{"node": "Brave Search", "type": "main", "index": 0}]]
    },
    "Brave Search": {
      "main": [[{"node": "Package Image Candidates", "type": "main", "index": 0}]]
    },
    "Transform to Ghost Blocks": {
      "main": [[{"node": "HTTP Request", "type": "main", "index": 0}]]
    },
    "Package Image Candidates": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}, {"node": "Merge", "type": "main", "index": 0}]]
    },
    "AI Agent": {
      "main": [[{"node": "Merge", "type": "main", "index": 1}]]
    },
    "Structured Output Parser": {
      "ai_outputParser": [[{"node": "AI Agent", "type": "ai_outputParser", "index": 0}]]
    },
    "Mistral Cloud Chat Model3": {
      "ai_languageModel": [[{"node": "Structured Output Parser", "type": "ai_languageModel", "index": 0}]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Resolve Final Image": {
      "main": [[{"node": "Aggregate Resolved Images", "type": "main", "index": 0}]]
    },
    "Merge": {
      "main": [[{"node": "Resolve Final Image", "type": "main", "index": 0}]]
    },
    "Aggregate Resolved Images": {
      "main": [[{"node": "Merge1", "type": "main", "index": 0}]]
    },
    "Merge1": {
      "main": [[{"node": "Patch Blocks & Prepare Update", "type": "main", "index": 0}]]
    },
    "Google Sheets Read PENDING Row": {
      "main": [[{"node": "Parse Blocks & Extract Images", "type": "main", "index": 0}, {"node": "Merge1", "type": "main", "index": 1}]]
    },
    "Patch Blocks & Prepare Update": {
      "main": [[{"node": "Google Sheets Update", "type": "main", "index": 0}]]
    },
    "Google Sheets Update": {
      "main": [[{"node": "Transform to Ghost Blocks", "type": "main", "index": 0}]]
    },
    "HTTP Request": {
      "main": [[{"node": "Google Sheets Update1", "type": "main", "index": 0}]]
    },
    "Google Sheets Update2": {
      "main": [[{"node": "Call Webhook 4", "type": "main", "index": 0}]]
    },
    "HTTP Request6": {
      "main": [[{"node": "HTTP Request7", "type": "main", "index": 0}]]
    },
    "HTTP Request7": {
      "main": [[{"node": "Append row in sheet4", "type": "main", "index": 0}]]
    },
    "If": {
      "main": [[], [{"node": "Update Keywords2", "type": "main", "index": 0}]]
    },
    "Schedule Trigger1": {
      "main": [[]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
